body{
    background-image: url("cont2.jpg");
    background-size: cover;
}

.container{
    position:relative;
    background: transparent;
    top: 100px;
    height:500px;
    border-radius:25px;
    background:rgba(0,0,0, .1);
    backdrop-filter: blur(20px);
    width:500px;

}
.row{
    height:496px;
    border-radius:25px;
    background:rgba(0,0,0, .1);
    backdrop-filter: blur(20px);
}
input{
   opacity: .3;
   color: black; 

}
textarea{
    opacity: .3;
}